In [1]:
#IMPORTs
import pandas as pd
import numpy as np
import matplotlib as plt
import re
from bs4 import BeautifulSoup
import json
import requests
from IPython.display import Image
import os

In [2]:
df = pd.read_csv("../OUTPUT/HDIrank2019_00_initialClean.csv")
df = df.drop(columns="Unnamed: 0")
df.head()

,HDIrank,Country,HDI,LifeExpectancy,ExpectedSchoolingYears,MeanSchoolingYears,GNIperCapita,LastYearRank,Category
0,1,Norway,0.954,82.3,18.1,12.6,68059,1,VERY HIGH HUMAN DEVELOPMENT
1,2,Switzerland,0.946,83.6,16.2,13.4,59375,2,VERY HIGH HUMAN DEVELOPMENT
2,3,Ireland,0.942,82.1,18.8,12.5,55660,3,VERY HIGH HUMAN DEVELOPMENT
3,4,Germany,0.939,81.2,17.1,14.1,46946,4,VERY HIGH HUMAN DEVELOPMENT
4,5,Hong Kong China (SAR),0.939,84.7,16.5,12.0,60221,6,VERY HIGH HUMAN DEVELOPMENT

In [3]:
def requestJSON(url):
    res = requests.get(url)
    if res.status_code != 200:
        print(res.text)
        raise ValueError("Bad Response")
    return res.json()

In [4]:
countries = requestJSON('https://restcountries.eu/rest/v2/all')

In [5]:
lista_name = [cm["name"] for cm in countries]
lista_name[:10]

['Afghanistan',
 'Åland Islands',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antarctica',
 'Antigua and Barbuda']

In [6]:
def missedCountries():
    found=[]
    for ind,value in enumerate(df.Country):
        for elem in lista_name:
            if value == elem:
                found.append(ind)
    nofound=[]
    for i in range(189):
        if i not in found:
            nofound.append(i)
    noname=[]
    for i in nofound:
        noname.append(df.Country[i])
    
    return list(zip(nofound,noname))

In [7]:
nocountries = missedCountries()
nocountries

[(4, 'Hong Kong China (SAR)'),
 (14, 'United Kingdom'),
 (15, 'United States'),
 (25, 'Czechia'),
 (82, 'North Macedonia'),
 (118, 'State of Palestine'),
 (138, 'Eswatini (Kingdom of)'),
 (158, 'Tanzania (United Republic of)')]

In [8]:
def countryMatch(regex,lst):
    chances=[]
    for i in lst:
        if re.match(f"{regex}",i):
            chances.append(i)
    return chances

In [9]:
countryMatch("\wong.+",lista_name)

['Congo',
 'Congo (Democratic Republic of the)',
 'Hong Kong',
 'Mongolia',
 'Tonga']

Matching the list of missed country names using countryMatch function

In [10]:
lst = ['Hong Kong','United Kingdom of Great Britain and Northern Ireland','United States of America', 'Czech Republic','Macedonia (the former Yugoslav Republic of)','Palestine, State of','Swaziland','Tanzania, United Republic of']
for i in range(len(lst)):
    df = df.replace({'Country': nocountries[i]}, lst[i])

In [11]:
df.head(20)

,HDIrank,Country,HDI,LifeExpectancy,ExpectedSchoolingYears,MeanSchoolingYears,GNIperCapita,LastYearRank,Category
0,1,Norway,0.954,82.3,18.1,12.6,68059,1,VERY HIGH HUMAN DEVELOPMENT
1,2,Switzerland,0.946,83.6,16.2,13.4,59375,2,VERY HIGH HUMAN DEVELOPMENT
2,3,Ireland,0.942,82.1,18.8,12.5,55660,3,VERY HIGH HUMAN DEVELOPMENT
3,4,Germany,0.939,81.2,17.1,14.1,46946,4,VERY HIGH HUMAN DEVELOPMENT
4,5,Hong Kong,0.939,84.7,16.5,12.0,60221,6,VERY HIGH HUMAN DEVELOPMENT
5,6,Australia,0.938,83.3,22.1,12.7,44097,5,VERY HIGH HUMAN DEVELOPMENT
6,7,Iceland,0.938,82.9,19.2,12.5,47566,7,VERY HIGH HUMAN DEVELOPMENT
7,8,Sweden,0.937,82.7,18.8,12.4,47955,7,VERY HIGH HUMAN DEVELOPMENT
8,9,Singapore,0.935,83.5,16.3,11.5,83792,9,VERY HIGH HUMAN DEVELOPMENT
9,10,Netherlands,0.933,82.1,18.0,12.2,50013,10,VERY HIGH HUMAN DEVELOPMENT
10,11,Denmark,0.930,80.8,19.1,12.6,48836,11,VERY HIGH HUMAN DEVELOPMENT
11,12,Finland,0.925,81.7,19.3,12.4,41779,12,VERY HIGH HUMAN DEVELOPMENT
12,13,Canada,0.922,82.3,16.1,13.3,43602,13,VERY HIGH HUMAN DEVELOPMENT
13,14,New Zealand,0.921,82.1,18.8,12.7,35108,14,VERY HIGH HUMAN DEVELOPMENT
14,15,United Kingdom of Great Britain and Northern I...,0.920,81.2,17.4,13.0,39507,15,VERY HIGH HUMAN DEVELOPMENT
15,16,United States of America,0.920,78.9,16.3,13.4,56140,15,VERY HIGH HUMAN DEVELOPMENT
16,17,Belgium,0.919,81.5,19.7,11.8,43821,17,VERY HIGH HUMAN DEVELOPMENT
17,18,Liechtenstein,0.917,80.5,14.7,12.5,99732,18,VERY HIGH HUMAN DEVELOPMENT
18,19,Japan,0.915,84.5,15.2,12.8,40799,19,VERY HIGH HUMAN DEVELOPMENT
19,20,Austria,0.914,81.4,16.3,12.6,46231,20,VERY HIGH HUMAN DEVELOPMENT

In [12]:
now = missedCountries()
if len(now) == 0:
    print("No missed countries")

No missed countries

In [13]:
df.to_csv("../OUTPUT/HDIrank2019_01_countryNameClean.csv")

In [14]:
#Next step: Create the columns

In [25]:
dj = pd.DataFrame(countries)
dj.head()

,name,topLevelDomain,alpha2Code,alpha3Code,callingCodes,capital,altSpellings,region,subregion,population,...,timezones,borders,nativeName,numericCode,currencies,languages,translations,flag,regionalBlocs,cioc
0,Afghanistan,[.af],AF,AFG,[93],Kabul,"[AF, Afġānistān]",Asia,Southern Asia,27657145,...,[UTC+04:30],"[IRN, PAK, TKM, UZB, TJK, CHN]",افغانستان,004,"[{'code': 'AFN', 'name': 'Afghan afghani', 'sy...","[{'iso639_1': 'ps', 'iso639_2': 'pus', 'name':...","{'de': 'Afghanistan', 'es': 'Afganistán', 'fr'...",https://restcountries.eu/data/afg.svg,"[{'acronym': 'SAARC', 'name': 'South Asian Ass...",AFG
1,Åland Islands,[.ax],AX,ALA,[358],Mariehamn,"[AX, Aaland, Aland, Ahvenanmaa]",Europe,Northern Europe,28875,...,[UTC+02:00],[],Åland,248,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]","[{'iso639_1': 'sv', 'iso639_2': 'swe', 'name':...","{'de': 'Åland', 'es': 'Alandia', 'fr': 'Åland'...",https://restcountries.eu/data/ala.svg,"[{'acronym': 'EU', 'name': 'European Union', '...",
2,Albania,[.al],AL,ALB,[355],Tirana,"[AL, Shqipëri, Shqipëria, Shqipnia]",Europe,Southern Europe,2886026,...,[UTC+01:00],"[MNE, GRC, MKD, KOS]",Shqipëria,008,"[{'code': 'ALL', 'name': 'Albanian lek', 'symb...","[{'iso639_1': 'sq', 'iso639_2': 'sqi', 'name':...","{'de': 'Albanien', 'es': 'Albania', 'fr': 'Alb...",https://restcountries.eu/data/alb.svg,"[{'acronym': 'CEFTA', 'name': 'Central Europea...",ALB
3,Algeria,[.dz],DZ,DZA,[213],Algiers,"[DZ, Dzayer, Algérie]",Africa,Northern Africa,40400000,...,[UTC+01:00],"[TUN, LBY, NER, ESH, MRT, MLI, MAR]",الجزائر,012,"[{'code': 'DZD', 'name': 'Algerian dinar', 'sy...","[{'iso639_1': 'ar', 'iso639_2': 'ara', 'name':...","{'de': 'Algerien', 'es': 'Argelia', 'fr': 'Alg...",https://restcountries.eu/data/dza.svg,"[{'acronym': 'AU', 'name': 'African Union', 'o...",ALG
4,American Samoa,[.as],AS,ASM,[1684],Pago Pago,"[AS, Amerika Sāmoa, Amelika Sāmoa, Sāmoa Amelika]",Oceania,Polynesia,57100,...,[UTC-11:00],[],American Samoa,016,"[{'code': 'USD', 'name': 'United State Dollar'...","[{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...","{'de': 'Amerikanisch-Samoa', 'es': 'Samoa Amer...",https://restcountries.eu/data/asm.svg,[],ASA

In [26]:
dj.columns

Index(['name', 'topLevelDomain', 'alpha2Code', 'alpha3Code', 'callingCodes',
       'capital', 'altSpellings', 'region', 'subregion', 'population',
       'latlng', 'demonym', 'area', 'gini', 'timezones', 'borders',
       'nativeName', 'numericCode', 'currencies', 'languages', 'translations',
       'flag', 'regionalBlocs', 'cioc'],
      dtype='object')

In [33]:
col=['topLevelDomain','callingCodes', 'altSpellings' ,'latlng', 'demonym', 'area', 'gini', 'timezones', 'borders','nativeName', 'numericCode', 'currencies', 'languages', 'translations','regionalBlocs', 'cioc']
dj = dj.drop(columns=col)
dj.head()

,name,alpha2Code,alpha3Code,capital,region,subregion,population,flag
0,Afghanistan,AF,AFG,Kabul,Asia,Southern Asia,27657145,https://restcountries.eu/data/afg.svg
1,Åland Islands,AX,ALA,Mariehamn,Europe,Northern Europe,28875,https://restcountries.eu/data/ala.svg
2,Albania,AL,ALB,Tirana,Europe,Southern Europe,2886026,https://restcountries.eu/data/alb.svg
3,Algeria,DZ,DZA,Algiers,Africa,Northern Africa,40400000,https://restcountries.eu/data/dza.svg
4,American Samoa,AS,ASM,Pago Pago,Oceania,Polynesia,57100,https://restcountries.eu/data/asm.svg